.buy-now-button{
    background-color: black;
    color:white;
    border-radius:10px;
    padding:10px 20px;
}
.container{
    margin-bottom: 50px;
}
.background-carousel{
    padding: 10px 30px;
    background-color:lightgreen;
}
.card{
    box-shadow: 5px 5px 10px lightgreen;
}
#navbarNav{
    float:right;
}
#images{
    width:600px;
    height:400px;
}
#subscribe{
    background-color: lightsalmon;
    width:900px;
    height: 300px;
    border-radius: 25px;
}