body{
    font-family: 'Poppins',sans-serif;
}
.buy-now-button{
    background-color: black;
    color:white;
    border-radius:10px;
    padding:10px 20px;
}
.buy-now-button:hover{
    background-image: linear-gradient(180deg, cyan, blue);
    color:Black;
    border-radius:10px;
    padding:7px 15px;
    transition:1s ease-in-out all;
}
.container{
    margin-bottom: 70px;
}
.background-carousel{
    padding: 10px 30px;
    background-image: url("image/header-bg.png");
    border-radius:10px;
}
.carousel-item{
    padding: 20px 40px;
}
#beauty{
    background-color: lightyellow;
    text-align: center;
    box-shadow: 3px 3px 60px 10px lightgrey;
    border-radius: 20px 1px 20px 1px;
    margin-bottom: 25px;
    height: 225px;
    padding: 40px;
}
#beauty:hover{
    background-color: lightyellow;
    text-align: center;
    box-shadow: 3px 3px 60px 10px lightgrey;
    border-radius: 20px 1px 20px 1px;
    margin-bottom: 25px;
    height: 200px;
    padding: 40px;
    transform: translateX(-10px);
    transition: .5s all ease;
}

#shoe{
    background-color: lightsteelblue;
    text-align: center;
    box-shadow: 5px 5px 60px 10px lightgray;
    border-radius: 20px 1px 20px 1px;
    margin-bottom: 25px;
    height: 225px;
    padding:40px;
}
#shoe:hover{
    background-color: lightsteelblue;
    text-align: center;
    box-shadow: 5px 5px 60px 10px lightgray;
    border-radius: 20px 1px 20px 1px;
    margin-bottom: 25px;
    height: 200px;
    padding:40px;
    transform: translateX(10px);
    transition: .5s all ease;
}
#bag{
    background-color: lightskyblue;
    text-align: center;
    box-shadow: 5px 5px 60px 10px lightgray;
    border-radius: 1px 20px 1px 20px;
    margin-bottom: 25px;
    height: 225px;
    width:400px;
    padding:40px;
}
#bag:hover{
    background-color: lightskyblue;
    text-align: center;
    box-shadow: 5px 5px 60px 10px lightgray;
    border-radius: 1px 20px 1px 20px;
    margin-bottom: 25px;
    height: 200px;
    width:400px;
    padding:40px;
    transform: translateY(10px);
    transition: .5s all ease;
}
#images{
    width:600px;
    height:400px;
}
#images:hover{
    width:650px;
    height:450px;
    transform: translateY(-10px);
    transition: .5s all ease;
}
.border-bottom{
    width:200px;
    height:5px;
    background-image: linear-gradient(180deg, #FF9C35 , #FFD019);
    margin: 0 auto;
}
.card{
    box-shadow: 5px 5px 10px lightgreen;
}
.card-footer{
    text-align: center;
    background-color: white;
    border-top:none;
}
#categories{
    background-image:url("image/header-bg.png");
    background-size:cover;
    background-repeat: no-repeat;
}

#contactus{
    background-image:url("image/biography-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width:900px;
    height: 300px;
    border: 5px double lightsalmon;
    border-radius: 25px;
}
#contactus:hover{
    background-image:url("image/biography-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width:800px;
    height: 300px;
    border: 5px solid lightsalmon;
    border-radius: 25px;
    transform: translateX(-15px);
    transition: .5s all ease;
}
#aboutus{
    padding-top: 30px;
}
#aboutus .card{
    box-shadow: 5px 5px 20px 15px lightgreen ;
}
#aboutus h1{
    animation: mahbub 3s infinite;
}

@keyframes mahbub{
    0%{
        color: coral;
      
    }
    25%{
        color: lightgreen;
    }
    50%{
        color:lightseagreen;
    }
    75%{
        color: darkgreen;
    }
    100%{
        color: coral;
    }
}
footer p{
    text-align: center;
}